.cookindex {
  background-image:
  linear-gradient(to bottom, rgba(80,204,245,0.5), rgba(80,204,245,0.5)),
  url('https://thumbs.dreamstime.com/z/icon-chef-creative-design-44499748.jpg');

  background-size: cover;
}
.cookmenu {
  text-align: center;
  font-family: monospace;
  font-size: 30px;
}

.createmenu {
  text-align: center;
  font-size: 25px;
  color: white;
}
a:link {
  color: pink;
}

a:hover {
  color: pink;
}
a:active {
  color: lightblue;
}
.allmenu {
  text-align: left;
}
