.create_menu-bg {
  background-image: url('https://thumbs.dreamstime.com/z/chef-cooking-kitchen-line-icon-outline-sign-linear-symbol-vector-flat-illustration-chef-cooking-kitchen-line-icon-outline-105343392.jpg');
  background-size: cover;
  background-position: left;
}

.title {
  text-align: center;

}

.form label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
  text-align: center;
}

.step {}
