.sign_up-bg {
  background:
  url('https://images-na.ssl-images-amazon.com/images/I/61YBgRCQQjL._SX466_.jpg') no-repeat;
  background-size: cover;
  background-position: auto;

}
.sign {
  text-align: center;
  color: darkblue;
  font-size: 40px;
}

.introduction {
  text-align: center;
  color: #4B0082;
  font-size: 30px;
}

.sign_input {
  text-align: center;
  font-size: 25px;
  margin-top: 200px;
}
