.signpage-bg {
  background-image: url('https://thumbs.dreamstime.com/z/cook-label-vintage-design-background-copyspace-your-text-32229860.jpg');
}

.signpage {
  text-align: center;
}
.input {
  text-align: center;
  font-size: 25px;
  margin-top: 100px;
}
